<!DOCTYPE html>
<html>
  <head>
    <title>Log Analizer</title>
    <script src="https://www.google.com/jsapi"></script>
    <script src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/chartkick/2.3.0/chartkick.min.js"></script>
    <script
      src="https://code.jquery.com/jquery-3.4.1.min.js"
      integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
      crossorigin="anonymous">
    </script>
  </head>
  <body>
    <center>
      <%= yield %>
      <% if request.path_info != '/' %>
        <a href="/">В начало</a>
      <% end %>
    </center>
  </body>
</html>
