<ol>
  <li>
    <a href='/top_country_actions' style='color: green;'>"Посетители из какой страны совершают больше всего действий на сайте?"</a>
  </li>
  <li>
    <a href='/categories_liked_by_countries' style='color: green;'>"Посетители из какой страны чаще всего интересуются товарами из определенных категорий?"</a>
  </li>
  <li>
    <a href='/views_by_day_time' style='color: green;'>"В какое время суток чаще всего просматривают определенную категорию товаров?"</a>
  </li>
  <li>
    <a href='/server_load' style='color: green;'>"Какая нагрузка (число запросов) на сайт за астрономический час?"</a>
  </li>
  <li>
    <a href='/same_products_of_category' style='color: red;'>"Товары из какой категории чаще всего покупают совместно с товаром из заданной категории?"</a>
  </li>
  <li>
    <a href='/unpaid_carts' style='color: green;'>"Сколько брошенных (не оплаченных) корзин имеется за определенный период?"</a>
  </li>
  <li>
    <a href='/repeated_purchases' style='color: green;'>"Какое количество пользователей совершали повторные покупки за определенный период?"</a>
  </li>
</ol>
