<h1>Сколько брошенных (не оплаченных) корзин имеется за определенный период?</h1>
<h2>
  Количество оплаченных корзин: <%= @paid_carts %>
</h2>
<h2>
  Количество неоплаченных корзин: <%= @unpaid_carts %>
</h2>
